<h4 class="text-3xl font-normal leading-normal mt-0 mb-2 text-zinc-800">Login</h4>

<%= form_with model: @user, url: login_path do |form| %>
  <div class="mb-6">
    <%= form.label "Email", class: "block mb-2 text-sm font-medium text-gray-900" %>
    <%= h form.text_field :email, id: "email", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-slate-200 dark:border-gray-600 dark:placeholder-gray-400 dark:text-slate-700 dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: "name@email.com" %>
  </div>
  <div class="mb-6">
    <%= form.label "Password", class: "block mb-2 text-sm font-medium text-gray-900" %>
    <%= form.password_field :password, id: "password", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-slate-200 dark:border-gray-600 dark:placeholder-gray-400 dark:text-slate-700 dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
  </div>
    <%= form.submit "Login", class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
<% end %>

<div style="padding-top:10px">
  <p>Don't have an account? <%= link_to "Click here", sign_up_path, class: "hover:text-purple-900 underline" %></p>
</div>